extends ../layout

block variable
  -var req = request
block content      
  .jumbotron
    .kpx_login
      h3.kpx_authTitle
        if req.user.first_name
          p 
            |First Name: #{req.user.first_name}
          p
            |Last Name: #{req.user.last_name}
        else
          p 
            |Email: #{req.user.email}
        form(action='/settings', method='post')
          .form-group.row
            label.col-sm-2.col-form-label.col-form-label-lg(for='colFormLabelLg') Phone Number:
            .col-12.col-md-8
              input#colFormLabelLg.form-control.form-control-lg(type='number', aria-label='nums', name = 'num', value=user.mobile, style={width:"175px"})
          .form-group.row  
            label.col-sm-2.col-form-label.col-form-label-lg(for='colFormLabelLg') Phone Company:
            .col-12.col-md-8
              -var options = ['None', 'AT&T', 'Verizon', 'T-Mobile', 'Sprint'];
              select.form-control.form-control-lg(name='carrier', id='carrier', style={width:"150px"})
                -var i=0;
                -var length = options.length;
                while i<length
                  -var carrier = options[i];
                  option(name='carrier', id=carrier, value=carrier, selected=(carrier===req.user.carrier)) #{carrier}
                  -i++;      
          .form-group.row
            label.col-sm-2.col-form-label.col-form-label-lg(for='colFormLabelLg') Get Emails:
            .col-sm-10
              .form-check
                .pretty.p-icon.p-smooth
                  input#colFormLabelLg.form-control.form-control-lg(type='checkbox', aria-label='emails', name = 'email', checked=user.notification_settings.email.is_enabled)
                  .state.p-success
                    i.icon.fa.fa-check
                    label      
          .form-group.row
            label.col-sm-2.col-form-label.col-form-label-lg(for='colFormLabelLg') Get Texts:
            .col-sm-10
              .form-check
                .pretty.p-icon.p-smooth
                  input#colFormLabelLg.form-control.form-control-lg(type='checkbox', aria-label='texts', name = 'text', checked=user.notification_settings.phone.is_enabled)
                  .state.p-success
                    i.icon.fa.fa-check
                    label   
          button.btn.btn-lg.btn-primary(type='submit') Save Changes
    
